@{
    ViewData["Title"] = "MedShop";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MedShop!</h1>
    <p class="text-dark">Your trading platform for medical consumatives!</p>
</div>