@{
    ViewData["Title"] = "MedShop";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p class="text-dark">This platform is meant for all purposes medical consumatives trading</p>
</div>